services:
  - type: web
    name: ai-rm-backend
    env: python
    region: oregon
    rootDir: .
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn main:app --host=0.0.0.0 --port=$PORT"
    autoDeploy: true
